<product-info :product="product">

    <carousel slot="image"
              :key="product.id"
              :perPage="1"
              :paginationPadding="3"
              :paginationSize="5"
              :minSwipeDistance="50"
              paginationColor="#B2DFDB"
              paginationActiveColor="#26A69A"
    >
        <slide v-for="photo in product.photos">
            <img :src="`${photo}/?${Math.random()}`">
        </slide>
    </carousel>


    <div slot="right" style="float:right;font-size:1.1rem;font-weight: bold;">
        ${{product.price}}
    </div>

    <div  slot="content">
        <md-card-content>
            <div style="line-height: 40px;">
                <md-button style="float:right;margin-right: 0;margin-top: 2px;" class="md-raised md-accent">
                    Add to cart
                </md-button>
                <md-chip disabled style="font-size: 0.7rem;vertical-align: middle;max-width: 35%;overflow: hidden;text-overflow: ellipsis;">
                    {{product.category}}
                </md-chip>
                <md-chip disabled style="font-size: 0.7rem;vertical-align: middle;max-width: 35%;overflow: hidden;text-overflow: ellipsis;">
                    {{product.material}}
                </md-chip>
            </div>

            <md-subheader style="padding: 0;">Description:</md-subheader>
            {{product.description}}

        </md-card-content>
    </div>

</product-info>